<div class="flight-container">
    <div class="flight-info">
        <div class="block-title flights">Flight Info</div>
        <div class="all-flights">
            <div class="flight">
                <span class="flightDate"></span>
                <div class="flight-with-time">
                    <div class="airport-with-time">
                        <div class="airport-code-bold"></div>
                        <div class="flight-time"></div>
                    </div>
                    <i class="fas fa-arrow-right"></i>
                    <div class="airport-with-time">
                        <div class="airport-code-bold"></div>
                        <div class="flight-time"></div>
                    </div>
                </div>
                <span class="flightTime"></span>
                <span class="connection border-left"></span>

                <span class="fare"></span>
            </div>

        </div>

    </div>
    <div class="price-info">
        <div class="price-per-pass">
            <span>Price per Passenger</span>
            <span></span>
        </div>
        <div class="taxes-per-pass">
            <span>Taxes and Fees per Passenger</span>
            <span></span>
        </div>
        <div class="total-per-pass">
            <span>Total per Passenger</span>
            <span></span>

        </div>
        <div class="passengers">
            <span>Passengers</span>
            <span></span>
        </div>
        <div class="flight-total">
            <span>Flight Total</span>
            <span></span>
        </div>
    </div>
</div>

