
<div class="columns" style="border-bottom: black; border-bottom-width: 2px;
border-bottom-style: solid; height: 70px; padding: 20px 0 10px 0;">
    <div class="column is-two-fifths" style="padding: 0;">
        <a href="/Pages/airlineweb.html" onclick="localStorage.clear()" class="title link" style="letter-spacing: -3px; font: 30px Avenir Next, serif; font-weight: bold;
    display: flex; justify-content: center;  margin-bottom: 0;">Panda Airways</a>
    </div>

    <div class="column" style="margin-right:100px;">
        <nav id="main-nav" data-target="navItem" class="navbar" role="navigation" aria-label="main navigation"
             style="height: 100%; min-height: 100%;">
            <div class="navbar-menu is-spaced" style="justify-content: space-evenly">
                <a class="navbar-item link" target="_blank" href="https://drive.google.com/drive/folders/1d-k8LyvufdMKFKgIIgnT9hPwAtiAlFbb?usp=sharing">HELP</a>
                <a class="navbar-item link" target="_blank" href="https://drive.google.com/file/d/159SjllVUEyS7_xcJ8DrQIRYZfo7J39_8/view?usp=sharing">ER MODEL</a>
                <a class="navbar-item link" href="/Pages/admin.html">ADMIN CONTROLS</a>

            </div>
        </nav>

    </div>

</div>



