
<div class="subtitle">Passenger </div>
<div class="block-content">
    <div class="input-field small">
        <!--    <input name="firstName" type="text" required>-->
        <!--    <label for="firstName">First Name<span style="color:red;"> *</span></label>-->

        <label>FIRST NAME<span style="color:red;"> *</span>
            <input class="firstName" type="text" placeholder=" " required>
        </label>
    </div>

    <div class="input-field small">
        <label>LAST NAME<span style="color:red;"> *</span>
            <input class="lastName" type="text" placeholder=" " required>
        </label>
    </div>
    <div class="MDY-container">
        <div class="input-field small">
            <label>DATE OF BIRTH<span style="color: red;"> *</span>
                <select class="dobMonth" required>
                    <option value="" disabled selected>Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </label>
        </div>
        <div class="input-field small">
            <label>&nbsp;
                <input class="dobDay" type="text" placeholder="DD" minlength="2" maxlength="2" required>
            </label>

        </div>
        <div class="input-field small">
            <label>&nbsp;
                <input class="dobYear" type="text" placeholder="YYYY" minlength="4" maxlength="4" required>
            </label>

        </div>
    </div>
</div>


